@use "/src/app/styles/helpers/functions.scss" as *;
@use "/src/app/styles/helpers/media.scss" as *;

.documents {
  background-color: var(--color-blue-sky);
  color: var(--color-blue-dark);

  &Inner {
    padding-bottom: fluid(100, 30);
    padding-top: fluid(50, 30);
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 30);
  }

  &List {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 15);
  }

  &Item {
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    border-radius: rem(30);
  }

  &Content {
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 6);

    &Title {
      font-size: fluid(36, 14);
      font-weight: 600;
      font-family: var(--font-family-base), sans-serif;
    }

    &Date {
      color: var(--color-black-disabled);
      font-size: fluid(24, 12);
    }
  }

  &Download {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding-block: fluid(44, 22);
    padding-inline: fluid(30, 15) fluid(48, 10);
    align-items: center;
    justify-content: space-between;
    color: inherit;
    svg {
      width: fluid(112, 40);
      height: fluid(112, 40);
      flex-shrink: 0;
    }
  }
}
